body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    flex-direction: column;
}

.scene {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dancer {
    position: relative;
    width: 150px;
    height: 220px;
    transform-origin: bottom center;
}

.part {
    background: #00ffff;
}

.head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #00ffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.body {
    width: 10px;
    height: 80px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.arm {
    width: 10px;
    height: 70px;
    position: absolute;
    top: 70px;
    transform-origin: top center;
}

.arm.left { left: 40px; }
.arm.right { right: 40px; }

.leg {
    width: 10px;
    height: 90px;
    position: absolute;
    top: 140px;
    transform-origin: top center;
}

.leg.left { left: 60px; }
.leg.right { right: 60px; }

.foot {
    width: 25px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: -7px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
